/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
    .middle-nav li{
      padding: 10px;
      display: inline;
      size: 10;
      margin-left: 0;
    }
  }
  #contact:hover{
    background-color: #2196F3;
    color: white;
  }
  nav ul li{
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin-left: 4.5em;
    margin-right: 5em;
    margin-top: 4em;
    color: black;
  }
  #boat-image{
    height: 16px;
    width: 16px;
  }
  #pool-image{
    height: 21px;
    width: 16px;
  }
 #boat-image:hover{
  height: 30px;
    color: #2196F3;
 }
 #pool-image:hover{
  height: 30px;
 }
#search-bar{
    position: sticky;
}
.total-price{
    border: 1px solid lightgray;
    margin-left: 7em;
    margin-right: 2em;
    border-radius: 10px;
    width: 910px;
}  
.total-price p{
    margin-left: 1.5em;
}
#p-strong{
    margin-bottom: 0;
    margin-top: 1em;
}
.bi-bi-toggle-off{
    margin-left: 50em;
    display: flex;
}
.house-picture{
  border-radius: 25px;
  background: url(https://a0.muscache.com/im/pictures/miso/Hosting-612294899600198445/original/1941796b-733e-4277-a93a-d878e2fc0e37.png?im_w=720);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 720px;
  height: 440px;
  text-align: center;
  margin-left: 12em;
  margin-top: 2em;
}
.picture-desciption{
  margin-left: 12em;
  margin-top: 8px;
}
#Ptag-1{
  margin-bottom: 0;
}
#Ptag-strong{
  margin-bottom: 0;
}
#image-logo{
  margin-left: 1em;
}
#navbar-brand{
  color: #ff5a60;
}
.btn-btn-outline-success{
  border-color: #ff5a60;
  background-color: white;
  color: #ff5a60;
}
.btn-btn-outline-success:hover{
  background-color: #ff5a60;
  color: white;
}
#Ptag-2{
  margin-bottom: 0.2em;
}